# Copiez ce fichier en .dev.vars pour tester en local via `wrangler dev`

STRAVA_CLIENT_ID=11b45ae09f70a02b747e262a3dc11aad2b83bb07
STRAVA_CLIENT_SECRET=128b2ba5b85b5387563218f5750ef1973f6c1393
STRAVA_REFRESH_TOKEN=cd410dd283ecc55e4e834a88683fe8dad66e9b29
STRAVA_SCOPES=read,profile:read_all,activity:read_all

GARMIN_EMAIL=louis.astori@gmail.com
GARMIN_PASSWORD=L@uis1734
GARMIN_DOMAIN=garmin.com

DEFAULT_OVERVIEW_LIMIT=5
CRON_OVERVIEW_LIMIT=20
